fastapi
uvicorn[standard]
pydantic
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-google-genai
nbimporter
python-dotenv
requests
tqdm
pandas
numpy
pinecone
python-dateutil
jupyter
beautifulsoup4
lxml
ddgs